Day4-ScratchCards-Part2/input.txt
Day5-IfYouGiveASeedAFertilizer/input.txt
Day5-IfYouGiveASeedAFertilizer-Part2/input.txt
Day5-IfYouGiveASeedAFertilizer-Part2/input2.txt

# Ignore .exe files in all directories
*.exe

# Ignore input.txt files in all directories
**/input.txt

Day6-WaitForIt/sample.txt
Day6-WaitForIt-Part2/sample.txt
